.header {
    background: var(--gray-700);
    display: flex;
    justify-content: center;
    padding: 12.5rem 0 0;
}

.header img {
    height: 3rem;
    top: 4.5rem;
    position: absolute;
}

/* 
1rem = 16px
0.25rem = 4px
0.06rem = 1px
*/